button {
    background-color: #616A6B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    background-color: #E1E1E1;
    color: #000000
  }


  header {
    font-size: large;
  }

  #result_div {
    background-color: #616A6B;
    color: white;
    font-size: 20px;
    padding: 25px 12px;
    max-width: 350px;
  }
  #numbers_div {
    max-width: 400px;
  }